* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Helvetica, Arial;
}
.product-info h2 {
  font-family: 'Slabo 27px', serif;
  margin: 0 0 20px 0;
}
.product-info {
  position: absolute;
  color: white;
  background: hsla(222, 13%, 16%, 0.5);
  border: solid 1px hsla(255, 100%, 100%, 0.1);
  left: calc(50% - 250px);
  top: 120px;
  padding: 20px 20px;
  width: 500px;
}
.product-info-clear {
  clear: both;
}
.product-info-section {
  margin-top: 20px;
  border-top: 1px solid hsla(255, 100%, 100%, .1);
}
body {
  background: hsla(222, 13%, 36%, 1);
}