a {
  color: white;
  margin-top: 10px;
}
a:link {
  color: white;
}
.go-button {
  font-size: 1.4em;
  color: white;
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 2px;
  width: 100%;
  background: #0C0;
  outline: none;
  border: none;
  text-decoration: none;
  display: block;
  text-align: center;
}
.go-button:active {
  background: #0A0;
}