.splash-header {
  background: linear-gradient(to top, hsla(222, 13%, 56%, 0.3), hsla(222, 13%, 16%, 0.5));
  border-bottom: solid 1px hsla(255, 100%, 100%, .3);
  position: fixed;
  width: 100%;
  height: auto;
}
.logo {
  margin: 20px;
  height: 53px;
}